<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <nav class="topnav main">
  <div class="header">
        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
    <i class="fa fa-bars"></i>
  </a>
  <h1>CASH MANAGEMENT</h1>
  </div>
      <ul id="myLinks">
        <% if user_signed_in? %>
          <li>
            <%= link_to 'Groups', groups_path %>
          </li>
          <li>
            <%= button_to 'Sign out', destroy_user_session_path, method: :delete %>
          </li>
        <% else %>
          <li>
            <%= link_to 'Sign up', new_user_registration_path %>
          </li>
          <li>
            <%= link_to 'Sign in', new_user_session_path %>
          </li>
        <% end %>
      </ul>

</nav>
<script>
function myFunction() {
  var x = document.getElementById("myLinks");
  if (x.style.display === "block") {
    x.style.display = "none";
  } else {
    x.style.display = "block";
  }
}
</script>
