<p style="color: green"><%= notice %></p>
<div class="back-button-div">
  <%= link_to "<", groups_path, class: "back-button main" %>
</div>
<h1 class="index-header text">Detail</h1>
<div id="trades">
<div id="trade">
  <img src="<%= @group.icon %>">  
  <h2><%= @group.name %></h2>
</div>
</div>
