<p style="color: green"><%= notice %></p>

<h1>Purchases</h1>

<div id="purchases">
  <% @purchases.each do |purchase| %>
    <%= render purchase %>
    
  <% end %>
</div>


 <%= link_to "Add new Transaction", new_group_purchase_path %> 

