<p style="color: green"><%= notice %></p>

<h1>Purchases</h1>

<ul id="purchases" class="group">
  <% @purchases.each do |purchase| %>
    <%= render purchase %>
    
  <% end %>
</ul>


 <%= link_to "Add new Transaction", new_group_purchase_path %> 

