<div class="barner-container">
    <div class="barner">
        <h1>Welcome to CoinApp</h1>
        <h4><%= link_to "Click to sign in", new_user_session_path %></h4>
        <%
=begin%>
 <div class="col-sign">
            <%= link_to "Sign in", new_user_session_path %><br>
            <%= link_to "Sign up ", new_user_registration_path%>
        </div> 
<%
=end%>
    </div>
</div>