<div id="<%= dom_id group_purchase %>">
  <p>
    <strong>Purchase:</strong>
    <%= group_purchase.purchase_id %>
  </p>

  <p>
    <strong>Group:</strong>
    <%= group_purchase.group_id %>
  </p>

</div>
