<h1>Editing group purchase</h1>

<%= render "form", group_purchase: @group_purchase %>

<br>

<div>
  <%= link_to "Show this group purchase", @group_purchase %> |
  <%= link_to "Back to group purchases", group_purchases_path %>
</div>
