<p style="color: green"><%= notice %></p>

<h1>Group purchases</h1>

<div id="group_purchases">
  <% @group_purchases.each do |group_purchase| %>
    <%= render group_purchase %>
    <p>
      <%= link_to "Show this group purchase", group_purchase %>
    </p>
  <% end %>
</div>

<%= link_to "New group purchase", new_group_purchase_path %>
