<p style="color: green"><%= notice %></p>

<h1>Categories</h1>

<ul id="categories" class="category">
  <% @categories.each do |category| %>
    <%= render category %>
    <%
=begin%>
 <p>
      <%= link_to "Show this category", category %>
    </p> 
<%
=end%>
  <% end %>
</ul>

<%= link_to "New category", new_category_path %>
