<p style="color: green"><%= notice %></p>

<h1>Transactions</h1>
<h3>Total: 0 </h3>

<ul id="transactions">
  <% @transactions.each do |transaction| %>
    <%= render transaction %>
     <% end %>
</ul>

<%= link_to "New transaction", new_transaction_path %>
